/* This is file for custome css */

.newsmod-container .control-bar btn, .newsmod-container .messagebody-container .control-bar btn {
    margin-right: 10px;
}

.newsmod-container .control-bar .search {
    float: right;
}

.newsmod-container .messagebody-container .control-bar {
    margin-left:10px
}