/* This is file for custome css */

.usenet-container .control-bar btn, .usenet-container .messagebody-container .control-bar btn {
  margin-right: 10px;
}

.usenet-container .control-bar .search {
  float: right;
}

.poststyle {
  cursor: pointer;
}

/* Add Animation, not needed anymore */

@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0
  }
  to {
    bottom: 0;
    opacity: 1
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0
  }
  to {
    bottom: 0;
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

/* Small devices (landscape phones, 576px and up) */

@media (max-width: 576px) {
  body#page-mod-usenet-view h1 {
    font-size: 1.3em;
  }
  #usenet-container h3 {
    font-size: 1.2rem;
  }
  .card-body {
    padding: 0.5rem;
  }
  .card-body #usenet-container {
    font-size: 0.9em;
  }
  .card-body #tree col-* {
    padding: 0.5rem;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}