 @media only screen and (max-width: 1201px) {
    div#tree{
	width: 100%;
	margin-bottom:30px;
	height: 300px;
	float:left;	
    }	

    div#contenttree {
		width: inherit;		
		margin-right:0px;
		height: 400px;
    }
    div#treeinfo{
    height: 300px;
    width:100%;
    }
}
    @media only screen and (min-width: 1200px) {
    div#tree{
        width: 450px;
        height: inherit;
    }
    div#treeinfo{
    height: inherit;
    width: inherit;
    min-width: 450px;

    }
    div#contenttree {

	margin-right:30px;
	height: inherit;
    }
}

.fa-tachometer:before {
  content: "\f0e4";
}

    .starmarked{
	color: gold;
    }
    .selected{
        color: orange;
    }
    .seltrue{
    	color: orange;
    }
    .node {
        position: absolute;

        left: 50%;
        list-style: none;
        cursor: default;
    }
    ul#treelist{
    border:1px solid black;
    }
    div#tree {
      overflow: auto;
      position: relative;
      float:left;
      align-items:stretch;
  }
  .itemsort{
	list-style: none;
  }
  div#contenttree{
    height: 100%;
    position:relative;
    /* display: flex; */
    align-items:stretch;
  }
  div#messagehead{
    height: auto;
    position:sticky;
    overflow: hidden;
    height: 40px;
    opacity: 1;
    /* display: flex; */
  }
 #region-main{
  /*display: flex;*/
  flex-direction: column;
  height:100%;
  }
  #messagebody{
    position: static;
    overflow:auto;
    top: 40px;
    height: 100%;

    width:100%;   
    margin-right: 10px;
    resize: none;
    /* display: flex; */
    /* align-items:stretch; */
  }
  div#treeinfo {
    position: sticky;
    overflow: auto;
    bottom: auto;
    border: 1px solid #00acdf;

}

    .node span {
        /* margin-right: 3px; */
    }

    .node .caret {
        /* font-size: 10px; */
    }

.m-t-2.m-b-1 {display: none;}
.nav.navbar-nav.d-md-none {display: none;}

